@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
:root,
[data-bs-theme="light"] {
	--ds-blue: #186ade;
	--ds-indigo: #545fe8;
	--ds-purple: #8f49de;
	--ds-pink: #cc1d92;
	--ds-red: #d91f11;
	--ds-orange: #e86427;
	--ds-yellow: #f5c518;
	--ds-green: #077d55;
	--ds-teal: #167b7d;
	--ds-cyan: #067a91;
	--ds-black: #000000;
	--ds-white: #ffffff;
	--ds-gray: #6a6a6a;
	--ds-luminous-orange-100: #fcf3e8;
	--ds-luminous-orange-200: #fae1c5;
	--ds-luminous-orange-300: #fcca91;
	--ds-luminous-orange-400: #f9b361;
	--ds-luminous-orange-500: #f7921e;
	--ds-luminous-orange-600: #a35f10;
	--ds-luminous-orange-700: #794509;
	--ds-luminous-orange-800: #5b3205;
	--ds-luminous-orange-900: #432403;
	--ds-luminous-orange-1000: #261201;
	--ds-gray-100: #f5f5f5;
	--ds-gray-200: #e5e5e5;
	--ds-gray-300: #d5d5d5;
	--ds-gray-400: #a4a4a4;
	--ds-gray-500: #888888;
	--ds-gray-600: #6a6a6a;
	--ds-gray-700: #4e4e4e;
	--ds-gray-800: #393939;
	--ds-gray-900: #272727;
	--ds-gray-1000: #161616;
	--ds-primary: #f7921e;
	--ds-secondary: #6a6a6a;
	--ds-success: #077d55;
	--ds-info: #186ade;
	--ds-warning: #f5c518;
	--ds-danger: #d91f11;
	--ds-primary-rgb: 247, 146, 30;
	--ds-secondary-rgb: 106, 106, 106;
	--ds-success-rgb: 7, 125, 85;
	--ds-info-rgb: 24, 106, 222;
	--ds-warning-rgb: 245, 197, 24;
	--ds-danger-rgb: 217, 31, 17;
	--ds-primary-text-emphasis: #794509;
	--ds-secondary-text-emphasis: #4e4e4e;
	--ds-success-text-emphasis: #075e45;
	--ds-info-text-emphasis: #0d4ea6;
	--ds-warning-text-emphasis: #000000;
	--ds-danger-text-emphasis: #a1160a;
	--ds-light-text-emphasis: #4e4e4e;
	--ds-dark-text-emphasis: #4e4e4e;
	--ds-primary-bg-subtle: #fae1c5;
	--ds-secondary-bg-subtle: #e5e5e5;
	--ds-success-bg-subtle: #c7ebd1;
	--ds-info-bg-subtle: #d4e4fa;
	--ds-warning-bg-subtle: #faf6cf;
	--ds-danger-bg-subtle: #fadcd9;
	--ds-light-bg-subtle: #fafafa;
	--ds-dark-bg-subtle: #a4a4a4;
	--ds-primary-border-subtle: #5b3205;
	--ds-secondary-border-subtle: #393939;
	--ds-success-border-subtle: #094536;
	--ds-info-border-subtle: #103a75;
	--ds-warning-border-subtle: #70491c;
	--ds-danger-border-subtle: #75160c;
	--ds-light-border-subtle: #e5e5e5;
	--ds-dark-border-subtle: #888888;
	--ds-white-rgb: 255, 255, 255;
	--ds-black-rgb: 0, 0, 0;
	--ds-font-sans-serif: "Lexend", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--ds-font-monospace: "Chivo Mono", monospace;
	--ds-gradient: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.15),
		rgba(255, 255, 255, 0)
	);
	--ds-body-font-family: var(--ds-font-sans-serif);
	--ds-body-font-size: 0.875rem;
	--ds-body-font-weight: 400;
	--ds-body-line-height: 1.5;
	--ds-body-color: #161616;
	--ds-body-color-rgb: 39, 39, 39;
	--ds-body-bg: #ffffff;
	--ds-body-bg-rgb: 255, 255, 255;
	--ds-emphasis-color: #000000;
	--ds-emphasis-color-rgb: 0, 0, 0;
	--ds-secondary-color: #4e4e4e;
	--ds-secondary-color-rgb: 78, 78, 78;
	--ds-secondary-bg: #f5f5f5;
	--ds-secondary-bg-rgb: 245, 245, 245;
	--ds-tertiary-color: #a4a4a4;
	--ds-tertiary-color-rgb: 164, 164, 164;
	--ds-tertiary-bg: #e5e5e5;
	--ds-tertiary-bg-rgb: 229, 229, 229;
	--ds-heading-color: inherit;
	--ds-link-color: #794509;
	--ds-link-color-rgb: 121, 69, 9;
	--ds-link-decoration: underline;
	--ds-link-hover-color: #794509;
	--ds-link-hover-color-rgb: 121, 69, 9;
	--ds-code-color: #cc1d92;
	--ds-highlight-bg: #fcca91;
	--ds-border-width: 1px;
	--ds-border-style: solid;
	--ds-border-color: #a4a4a4;
	--ds-border-color-translucent: rgba(0, 0, 0, 0.175);
	--ds-border-radius: 0.25rem;
	--ds-border-radius-sm: 0.125rem;
	--ds-border-radius-lg: 0.5rem;
	--ds-border-radius-xl: 1rem;
	--ds-border-radius-xxl: 2rem;
	--ds-border-radius-2xl: var(--ds-border-radius-xxl);
	--ds-border-radius-pill: 50rem;
	--ds-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	--ds-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	--ds-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	--ds-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	--ds-focus-ring-width: 0.25rem;
	--ds-focus-ring-opacity: 0.25;
	--ds-focus-ring-color: rgba(247, 146, 30, 0.25);
	--ds-form-valid-color: #077d55;
	--ds-form-valid-border-color: #077d55;
	--ds-form-invalid-color: #d91f11;
	--ds-form-invalid-border-color: #d91f11;
}

[data-bs-theme="dark"] {
	color-scheme: dark;
	--ds-blue: #3d8df5;
	--ds-indigo: #7681fc;
	--ds-purple: #ac71f0;
	--ds-pink: #ed4cb7;
	--ds-red: #fa5343;
	--ds-orange: #fc9162;
	--ds-yellow: #f7e379;
	--ds-green: #16a163;
	--ds-teal: #279c9c;
	--ds-cyan: #159ab3;
	--ds-primary: #f9b361;
	--ds-secondary: #888888;
	--ds-success: #16a163;
	--ds-info: #3d8df5;
	--ds-warning: #f5c518;
	--ds-danger: #fa5343;
	--ds-primary-rgb: 249, 179, 97;
	--ds-secondary-rgb: 136, 136, 136;
	--ds-success-rgb: 22, 161, 99;
	--ds-info-rgb: 61, 141, 245;
	--ds-warning-rgb: 245, 197, 24;
	--ds-danger-rgb: 250, 83, 67;
	--ds-body-color: #f5f5f5;
	--ds-body-color-rgb: 245, 245, 245;
	--ds-body-bg: #161616;
	--ds-body-bg-rgb: 22, 22, 22;
	--ds-emphasis-color: #ffffff;
	--ds-emphasis-color-rgb: 255, 255, 255;
	--ds-secondary-color: #d5d5d5;
	--ds-secondary-color-rgb: 213, 213, 213;
	--ds-secondary-bg: #272727;
	--ds-secondary-bg-rgb: 39, 39, 39;
	--ds-tertiary-color: #4e4e4e;
	--ds-tertiary-color-rgb: 78, 78, 78;
	--ds-tertiary-bg: #393939;
	--ds-tertiary-bg-rgb: 57, 57, 57;
	--ds-primary-text-emphasis: #fcca91;
	--ds-secondary-text-emphasis: #d5d5d5;
	--ds-success-text-emphasis: #88dba8;
	--ds-info-text-emphasis: #adccf7;
	--ds-warning-text-emphasis: #1c1613;
	--ds-danger-text-emphasis: #fabbb4;
	--ds-light-text-emphasis: #f5f5f5;
	--ds-dark-text-emphasis: #d5d5d5;
	--ds-primary-bg-subtle: #5b3205;
	--ds-secondary-bg-subtle: #393939;
	--ds-success-bg-subtle: #094536;
	--ds-info-bg-subtle: #103a75;
	--ds-warning-bg-subtle: #b3870e;
	--ds-danger-bg-subtle: #75160c;
	--ds-light-bg-subtle: #393939;
	--ds-dark-bg-subtle: #1d1d1d;
	--ds-primary-border-subtle: #fae1c5;
	--ds-secondary-border-subtle: #e5e5e5;
	--ds-success-border-subtle: #c7ebd1;
	--ds-info-border-subtle: #d4e4fa;
	--ds-warning-border-subtle: #faf6cf;
	--ds-danger-border-subtle: #fadcd9;
	--ds-light-border-subtle: #4e4e4e;
	--ds-dark-border-subtle: #393939;
	--ds-heading-color: inherit;
	--ds-link-color: #fcca91;
	--ds-link-hover-color: #fcca91;
	--ds-link-color-rgb: 252, 202, 145;
	--ds-link-hover-color-rgb: 252, 202, 145;
	--ds-code-color: #e077be;
	--ds-border-color: #4e4e4e;
	--ds-border-color-translucent: rgba(255, 255, 255, 0.15);
	--ds-form-valid-color: #88dba8;
	--ds-form-valid-border-color: #88dba8;
	--ds-form-invalid-color: #fabbb4;
	--ds-form-invalid-border-color: #fabbb4;
}

@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	@media (prefers-reduced-motion: no-preference) {
		:root {
			scroll-behavior: smooth;
		}
	}

	body {
		margin: 0;
		font-family: "Lexend", sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		color: black;
		text-align: var(--ds-body-text-align);
		background-color: white;
		-webkit-text-size-adjust: 100%;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	hr {
		margin: 1rem 0;
		color: inherit;
		border: 0;
		border-top: var(--ds-border-width) solid;
		opacity: 0.25;
	}

	h6,
	.h6,
	h5,
	.h5,
	h4,
	.h4,
	h3,
	.h3,
	h2,
	.h2,
	h1,
	.h1 {
		margin-top: 0;
		margin-bottom: 0.5rem;
		font-weight: 700;
		line-height: 1.3;
		color: var(--ds-heading-color);
	}

	h1,
	.h1 {
		font-size: calc(1.325rem + 0.9vw);
	}

	@media (min-width: 1200px) {
		h1,
		.h1 {
			font-size: 2rem;
		}
	}

	h2,
	.h2 {
		font-size: calc(1.275rem + 0.3vw);
	}

	@media (min-width: 1200px) {
		h2,
		.h2 {
			font-size: 1.5rem;
		}
	}

	h3,
	.h3 {
		font-size: 1.25rem;
	}

	h4,
	.h4 {
		font-size: 1rem;
	}

	h5,
	.h5 {
		font-size: 0.875rem;
	}

	h6,
	.h6 {
		font-size: 0.75rem;
	}

	p {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	abbr[title] {
		text-decoration: underline dotted;
		cursor: help;
		text-decoration-skip-ink: none;
	}

	address {
		margin-bottom: 1rem;
		font-style: normal;
		line-height: inherit;
	}

	ol,
	ul {
		padding-left: 2rem;
	}

	ol,
	ul,
	dl {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	ol ol,
	ul ul,
	ol ul,
	ul ol {
		margin-bottom: 0;
	}

	dt {
		font-weight: 700;
	}

	dd {
		margin-bottom: 0.5rem;
		margin-left: 0;
	}

	blockquote {
		margin: 0 0 1rem;
	}

	b,
	strong {
		font-weight: bolder;
	}

	small,
	.small {
		font-size: 0.75rem;
	}

	mark,
	.mark {
		padding: 0.25em;
		background-color: var(--ds-highlight-bg);
	}

	sub,
	sup {
		position: relative;
		font-size: 0.75rem;
		line-height: 0;
		vertical-align: baseline;
	}

	sub {
		bottom: -0.25em;
	}

	sup {
		top: -0.5em;
	}

	a {
		color: rgba(var(--ds-link-color-rgb), var(--ds-link-opacity, 1));
		text-decoration: underline;
	}

	a:hover {
		--ds-link-color-rgb: var(--ds-link-hover-color-rgb);
	}

	a:not([href]):not([class]),
	a:not([href]):not([class]):hover {
		color: inherit;
		text-decoration: none;
	}

	pre,
	code,
	kbd,
	samp {
		font-family: var(--ds-font-monospace);
		font-size: 1em;
	}

	pre {
		display: block;
		margin-top: 0;
		margin-bottom: 1rem;
		overflow: auto;
		font-size: 0.75rem;
	}

	pre code {
		font-size: inherit;
		color: inherit;
		word-break: normal;
	}

	code {
		font-size: 0.75rem;
		color: var(--ds-code-color);
		word-wrap: break-word;
	}

	a > code {
		color: inherit;
	}

	kbd {
		padding: 0.1875rem 0.375rem;
		font-size: 0.75rem;
		color: var(--ds-body-bg);
		background-color: var(--ds-body-color);
		border-radius: 0.125rem;
	}

	kbd kbd {
		padding: 0;
		font-size: 1em;
	}

	figure {
		margin: 0 0 1rem;
	}

	img,
	svg {
		vertical-align: middle;
	}

	table {
		caption-side: bottom;
		border-collapse: collapse;
	}

	caption {
		padding-top: 1rem;
		padding-bottom: 1rem;
		color: var(--ds-secondary-color);
		text-align: left;
	}

	th {
		font-weight: 700;
		text-align: inherit;
		text-align: -webkit-match-parent;
	}

	td {
		white-space: nowrap;
	}

	thead,
	tbody,
	tfoot,
	tr,
	td,
	th {
		border-color: inherit;
		border-style: solid;
		border-width: 0;
	}

	label {
		display: inline-block;
	}

	button {
		border-radius: 0;
	}

	button:focus:not(:focus-visible) {
		outline: 0;
	}

	input,
	button,
	select,
	optgroup,
	textarea {
		margin: 0;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}

	button,
	select {
		text-transform: none;
	}

	[role="button"] {
		cursor: pointer;
	}

	select {
		word-wrap: normal;
	}

	select:disabled {
		opacity: 1;
	}

	[list]:not([type="date"]):not([type="datetime-local"]):not(
			[type="month"]
		):not([type="week"]):not([type="time"])::-webkit-calendar-picker-indicator {
		display: none !important;
	}

	button,
	[type="button"],
	[type="reset"],
	[type="submit"] {
		-webkit-appearance: button;
	}

	button:not(:disabled),
	[type="button"]:not(:disabled),
	[type="reset"]:not(:disabled),
	[type="submit"]:not(:disabled) {
		cursor: pointer;
	}

	::-moz-focus-inner {
		padding: 0;
		border-style: none;
	}

	textarea {
		resize: vertical;
	}

	fieldset {
		min-width: 0;
		padding: 0;
		margin: 0;
		border: 0;
	}

	legend {
		float: left;
		width: 100%;
		padding: 0;
		margin-bottom: 0.5rem;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: inherit;
	}

	legend + * {
		clear: left;
	}

	::-webkit-datetime-edit-fields-wrapper,
	::-webkit-datetime-edit-text,
	::-webkit-datetime-edit-minute,
	::-webkit-datetime-edit-hour-field,
	::-webkit-datetime-edit-day-field,
	::-webkit-datetime-edit-month-field,
	::-webkit-datetime-edit-year-field {
		padding: 0;
	}

	::-webkit-inner-spin-button {
		height: auto;
	}

	[type="search"] {
		-webkit-appearance: textfield;
		outline-offset: -2px;
	}

	/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
	::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	::-webkit-color-swatch-wrapper {
		padding: 0;
	}

	::file-selector-button {
		font: inherit;
		-webkit-appearance: button;
	}

	output {
		display: inline-block;
	}

	iframe {
		border: 0;
	}

	summary {
		display: list-item;
		cursor: pointer;
	}

	progress {
		vertical-align: baseline;
	}

	[hidden] {
		display: none !important;
	}
}

@layer input {
	@layer root {
		:where(
				input[type="date"],
				input[type="color"],
				input[type="datetime-local"],
				input[type="email"],
				input[type="month"],
				input[type="number"],
				input[type="password"],
				input[type="search"],
				input[type="tel"],
				input[type="text"],
				input[type="time"],
				input[type="url"],
				input[type="week"],
				.form-control
			) {
			--_text-light: var(--ds-body-color);
			--_text: var(--_text-light);

			--_bg-light: var(--ds-body-bg);
			--_bg: var(--_bg-light);

			--_padding-inline: 1rem;
			--_padding-block: 0.5rem;

			--_border-radius: 0.25rem;
			--_border-light: var(--ds-secondary-bg-subtle);
			--_border: var(--_border-light);

			--_icon-size: 1.5rem;
			--_icon-color: var(--_accent);

			--_transition-motion-reduce: ;
			--_transition-motion-ok: box-shadow 145ms ease, outline-offset 145ms ease;
			--_transition: var(--_transition-motion-reduce);

			font: inherit;
			letter-spacing: inherit;
			line-height: 1.5;
			border-radius: var(--_border-radius);
		}
	}

	@layer base {
		:where(
				input[type="date"],
				input[type="datetime-local"],
				input[type="email"],
				input[type="month"],
				input[type="number"],
				input[type="password"],
				input[type="search"],
				input[type="tel"],
				input[type="text"],
				input[type="time"],
				input[type="url"],
				input[type="week"],
				.form-control
			) {
			font-size: var(--_size, 1rem);
			background: var(--_bg);
			color: var(--_text);
			border: 2px solid var(--_border);
			transition: var(--_transition);

			display: inline-flex;
			justify-content: center;
			align-items: center;
			gap: 1ch;

			font-weight: inherit;
			padding-block: var(--_padding-block);
			padding-inline: var(--_padding-inline);
		}

        input[type="color"] {
            block-size: 2.75rem;;
            inline-size: 2.75rem;
            background: var(--_bg);
            border: 2px solid var(--_border);
            padding: .25rem;
            transition: var(--_transition);
            cursor: pointer;
        }

		.form-group {
			position: relative;
		}
		/* icons */
		:where(svg, [data-icon]) {
			block-size: var(--_icon-size);
			inline-size: var(--_icon-size);
			stroke: var(--_icon-color);

			flex-shrink: 0;
			fill: currentColor;
			stroke-linecap: round;
			stroke-linejoin: round;
		}

		:where(svg, [data-icon]):has(
				+ :where(
						input[type="date"],
						input[type="datetime-local"],
						input[type="email"],
						input[type="month"],
						input[type="number"],
						input[type="password"],
						input[type="search"],
						input[type="tel"],
						input[type="text"],
						input[type="time"],
						input[type="url"],
						input[type="week"],
						.form-control
					)
			) {
			display: grid;
			place-items: center;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			border: 2px solid transparent;
			margin: var(--_padding-block, 0.5rem) 1rem 0.5rem
				var(--_padding-inline, 0.75rem);
		}

		:where(svg, [data-icon])
			+ :where(
				input[type="date"],
				input[type="datetime-local"],
				input[type="email"],
				input[type="month"],
				input[type="number"],
				input[type="password"],
				input[type="search"],
				input[type="tel"],
				input[type="text"],
				input[type="time"],
				input[type="url"],
				input[type="week"],
				.form-control
			) {
			padding-inline-start: calc(var(--_padding-inline) * 3);
		}
	}

	@layer states {
		/* focus */
		:where(
				input[type="date"],
				input[type="datetime-local"],
				input[type="email"],
				input[type="month"],
				input[type="number"],
				input[type="password"],
				input[type="search"],
				input[type="tel"],
				input[type="text"],
				input[type="time"],
				input[type="url"],
				input[type="week"],
				.form-control
			):where(:not(:invalid), :placeholder-shown):focus-visible {
			outline-offset: 1px;
			outline-color: var(--ds-info);
		}

		/* user-valid */
		:where(
				input[type="date"],
				input[type="datetime-local"],
				input[type="email"],
				input[type="month"],
				input[type="number"],
				input[type="password"],
				input[type="search"],
				input[type="tel"],
				input[type="text"],
				input[type="time"],
				input[type="url"],
				input[type="week"],
				.form-control
			):valid {
			outline-offset: 1px;
			outline-color: var(--ds-success);
			outline-width: 2px;
		}
		:where(
				input[type="date"],
				input[type="datetime-local"],
				input[type="email"],
				input[type="month"],
				input[type="number"],
				input[type="password"],
				input[type="search"],
				input[type="tel"],
				input[type="text"],
				input[type="time"],
				input[type="url"],
				input[type="week"],
				.form-control
			):user-valid {
			outline-offset: 1px;
			outline-color: var(--ds-success);
		}

		:where(
				input[type="date"],
				input[type="datetime-local"],
				input[type="email"],
				input[type="month"],
				input[type="number"],
				input[type="password"],
				input[type="search"],
				input[type="tel"],
				input[type="text"],
				input[type="time"],
				input[type="url"],
				input[type="week"],
				.form-control
			)::after:user-valid {
			content: "✓";
			color: green;
		}

		/* user-invalid */
		:where(
				input[type="date"],
				input[type="datetime-local"],
				input[type="email"],
				input[type="month"],
				input[type="number"],
				input[type="password"],
				input[type="search"],
				input[type="tel"],
				input[type="text"],
				input[type="time"],
				input[type="url"],
				input[type="week"],
				.form-control
			):invalid {
			outline-offset: 1px;
			outline-color: var(--ds-danger);
			outline-width: 2px;
		}
		:where(
				input[type="date"],
				input[type="datetime-local"],
				input[type="email"],
				input[type="month"],
				input[type="number"],
				input[type="password"],
				input[type="search"],
				input[type="tel"],
				input[type="text"],
				input[type="time"],
				input[type="url"],
				input[type="week"],
				.form-control
			):user-invalid {
			outline-offset: 1px;
			outline-color: var(--ds-danger);
		}

		/* disabled */
		:where(
            input[type="date"],
            input[type="datetime-local"],
            input[type="email"],
            input[type="month"],
            input[type="number"],
            input[type="password"],
            input[type="search"],
            input[type="tel"],
            input[type="text"],
            input[type="time"],
            input[type="url"],
            input[type="week"],
            .form-control
			)[disabled] {
			--_bg: none;
			--_text-light: var(--ds-tertiary-color);

			cursor: not-allowed;
			box-shadow: var(--_shadow-1);
		}

	}

	@layer variants {
		.btn-primary {
			--_text: var(--ds-body-color);
			--_bg: var(--ds-primary);
			--_border: var(--ds-primary);
		}

		.btn-subtle-primary {
			--_text: var(--ds-primary-text-emphasis);
			--_bg: var(--ds-primary-bg-subtle);
			--_border: var(--ds-primary-bg-subtle);
		}

		.btn-outline-primary {
			--_text: var(--ds-primary);
			--_bg: transparent;
			--_border: var(--ds-primary);
		}

		.btn-ghost-primary {
			--_text: var(--ds-primary-text-emphasis);
			--_bg: transparent;
			--_border: transparent;
		}
	}

	@layer env {
		@media (prefers-color-scheme: dark) {
			:where(
					button,
					input[type="button"],
					input[type="submit"],
					input[type="reset"],
					input[type="file"],
					.btn
				),
			:where(input[type="file"])::file-selector-button {
				--_bg: var(--_bg-dark);
				--_text: var(--_text-dark);
				--_border: var(--_border-dark);
				--_accent: var(--_accent-dark);
				--_input-well: var(--_input-well-dark);
			}

			:where(
					[type="submit"],
					[type="reset"],
					[disabled],
					form button:not([type="button"])
				) {
				--_bg: var(--_input-well);
			}
		}

		@media (prefers-reduced-motion: no-preference) {
			:where(
					button,
					input[type="button"],
					input[type="submit"],
					input[type="reset"],
					input[type="file"],
					.btn
				),
			:where(input[type="file"])::file-selector-button {
				--_transition: var(--_transition-motion-ok);
			}
		}
	}
}
